.gameContainer {
  width: 700px;
  margin: auto;
}
.timeDisplay {
  font-size: 80px;
}
.user {
  width: 300px;
  float: left;
  border: 1px solid red;
}
.computer {
  width: 300px;
  border: 1px solid green;
}
.decisionHeader {
  background-color: #d3d3d3;
}
.rock {
  background-color: green;
}
.paper {
  background-color: yellow;
}
.scissors {
  background-color: orange;
}
